/* Body Standard */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 0;
}

/* header and logo */
.headerLogo {
   display: flex; 
   align-items: center;
   justify-content: center;
}.headerLogo img {
    height: auto;
    max-width: 30%;
}

/* Navigation/Buttons */
.navigation{
    display: grid;
    background-color: #3F9CC8ff;
    justify-content: center;
    text-align: center;
    padding: 20px; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 12%;
    max-width: 100%;
}.navigation button{
    color: white;
    border-color: white;
    width: 210px;
}

/* Quem Somos/Nossa História/About Us */
main {
    padding-bottom: 70px;
}.main{
    color: rgb(29, 100, 133);
    display: grid;
    grid-gap: 15%;
    grid-template-columns: 43% 43%;
    padding: 5%;
    font-size: 15px;
    margin-bottom: 3%;
} .main h1 {
    font-weight: bold;
} .main p{
    font-size: 11px;
}

/* Nossos Serviços: Business Intelligence, Software, Mobile, Consultoria */
.services{
    color: rgb(29, 100, 133);
    text-align: center;
}

/* Container de Quadros com Imagens e Descrição */
.container{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: -20px -120px -20px -px;
}
/* Bloquinhos dentro das imagens*/
.block{
    align-items: center;
    max-width: 74%;
    background-color: #3F9CC8ff;
    border-radius: 30px;
    padding-top: 10px;
} .block img {
    width: 100px;
    height: 100px;
} .block p {
    color: white;
    margin-bottom: 10px;
}

footer {
    background: linear-gradient( 90deg, rgba(62, 157, 203, 1) 0%, rgba(24, 204, 221, 1) 100% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    height: 200px;
  } .footer_logo{
    width: 35%;
} .footer_nav_links{
    height: 170px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
} .footer_nav_links h5{
    font-size: 30px;
} .footer_nav_links li{
    font-size: 17px;
} .footer_nav_links img{
    height: 35px;
} 

/* Larger than desktop */
@media (max-width: 1300px) {
    .navigation{
        display: grid;
        background-color: #3F9CC8ff;
        justify-content: center;
        text-align: center;
        padding: 20px; 
        grid-template-columns: auto auto auto auto;
        grid-gap: 5%;
        max-width: 100%;
        }
}
/* Larger than tablet */
@media (max-width: 990px) {
    .navigation{
        display: grid;
        background-color: #3F9CC8ff;
        justify-content: center;
        text-align: center;
        padding: 20px; 
        grid-gap: 1%;
        grid-template-columns: auto auto auto auto;
        max-width: 100%;
        }
}

/* Larger than tablet */
@media (max-width: 768px) {
    .navigation{
        display: grid;
        background-color: #3F9CC8ff;
        justify-content: center;
        text-align: center;
        padding: 20px; 
        grid-template-columns: auto auto;
        max-width: 100%;
        }
}


